{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/transaction.css' %}" type="text/css">
    <script src="https://kit.fontawesome.com/f5a624e72c.js" crossorigin="anonymous"></script>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">-->
    <title>GoCash | User Dashboard</title>
</head>
<body>
    <header>
        <h1>GoCash | Transactions</h1> <!-- Display the user's name -->
        <nav>
            <a href="/wallets">Wallet</a>
            <a href="/transactions">Transfers</a>
            <a href="">Payment</a>
            <a href="">Subscription Plan</a>
            <a href="">Green User</a>
            <a href="">Support</a>
            <a href="/">Log out</a> <!-- Add a logout option -->
        </nav>
    </header>



     <!-- Home button and label -->
    <div class="home-container">
        <a href="/users" class="home-button">
            <img src="{% static 'images/user_home2.png' %}" alt="Home" class="home-icon">
        </a>
        <p><strong>Home</strong></p>
    </div>

    <div class="cta-container">
        <div class="cta">
            <button onclick="window.location.href='/transactions/send_money';">Send Money</button>
        </div>

        <div class="cta">
            <button onclick="window.location.href='/transactions/withdrawal';">Withdrawal</button>
        </div>
    </div>



    <!--    transaction history section-->
    <div class="transaction-history">
    <div class="history-header">
        <h2>Transaction History</h2>
    </div>
    <table class="history-table">
        <thead>
            <tr>
                <th>Sender Number</th>
                <th>Receiver Number</th>
                <th>Service Type</th>
                <th>Service Name</th>
                <th>Amount</th>
                <th>Fees</th>
                <th>Balance Before</th>
                <th>Balance After</th>
                <th>Transaction Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.sender.phone_number }}</td>
                <td>{% if transaction.receiver %}{{ transaction.receiver}}{% else %} {% endif %}</td>
                <td>
                    {% if transaction.service_type == 'Deposit' or transaction.service_type == 'deposit' %}
                        <i class="fa-solid fa-arrow-up" style="color: #0D995F"></i> Deposit
                    {% elif transaction.service_type == 'Withdrawal' or transaction.service_type == 'withdrawal' %}
                        <i class="fa-solid fa-arrow-down" style="color: #AE3A1A"></i> Withdrawal
                    {% elif transaction.service_type == 'Transaction' or transaction.service_type == 'transaction' %}
                        <i class="fa-solid fa-arrow-right-arrow-left" style="color: #C37F1F"></i> Transaction
                    {% elif transaction.service_type == 'Bill Payment' or transaction.service_type == 'bill payment' %}
                        <i class="fa-solid fa-money-bill-wave" style="color: #1F76C3"></i> Bill Payment
                    {% elif transaction.service_type == 'Merchant Payment' or transaction.service_type == 'merchant payment' %}
                        <i class="fa-solid fa-store" style="color: #C31F92"></i> Merchant Payment
                    {% elif transaction.service_type == 'Account Subscription' or transaction.service_type == 'account subscription' %}
                        <i class="fa-solid fa-gem" style="color: #383838"></i> Account Subscription
                    {% elif transaction.service_type == 'Green Subscription' or transaction.service_type == 'green subscription'%}
                        <i class="fa-solid fa-leaf" style="color: #1B744F"></i> Green Subscription
                    {% endif %}
                </td>
                <td>{{ transaction.service_name }}</td>
                <td>{{ transaction.amount }}</td>
                <td>{{ transaction.fees }}</td>
                <td>{{ transaction.balance_before }}</td>
                <td>{{ transaction.balance_after }}</td>
                <td>{{ transaction.transaction_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>


    <footer>
        <p>Designed by Mohamed Fawzy</p>
        <p>GoCash Application eT3 - Project</p>
        <img src="{% static 'images/images.jpeg' %}" alt="eT3 Logo">
    </footer>
</body>
</html>
