{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/wallet.css' %}" type="text/css">
    <title>GoCash | User Dashboard</title>
</head>
<body>
    <header>
        <h1>GoCash | Wallet</h1> <!-- Display the user's name -->
        <nav>
            <a href="/wallets">Wallet</a>
            <a href="/transactions">Transfers</a>
            <a href="">Payment</a>
            <a href="">Subscription Plan</a>
            <a href="">Green User</a>
            <a href="">Support</a>
            <a href="/">Log out</a> <!-- Add a logout option -->
        </nav>
    </header>

     <!-- Home button and label -->
    <div class="home-container">
        <a href="/wallets" class="home-button">
            <img src="{% static 'images/back.png' %}" alt="Home" class="home-icon">
        </a>
        <p><strong>Back</strong></p>
    </div>



    <!-- Rounded form with shadows -->
    <div class="form-container">
        <h2>Enter your wallet password</h2>
        {% if messages %}
                <div class="messages" style="margin-bottom: 15px;">
                    {% for message in messages %}
                        <div style="
                            {% if message.tags == 'success' %}
                                color: #4F8A10;
                                background-color: #DFF2BF;
                                border: 1px solid #4F8A10;
                            {% else %}
                                color: #D8000C;
                                background-color: #FFBABA;
                                border: 1px solid #D8000C;
                            {% endif %}
                            padding: 10px;
                            border-radius: 5px;
                            margin-bottom: 10px;">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        <form action="" method="POST">
            {% csrf_token %}
            <input type="password" name="password" placeholder="Set your password" required>
            <button type="submit">Confirm</button>
        </form>
    </div>




    <footer>
        <p>Designed by Mohamed Fawzy</p>
        <p>GoCash Application eT3 - Project</p>
        <img src="{% static 'images/images.jpeg' %}" alt="eT3 Logo">
    </footer>
</body>
</html>