body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: white;
        }
header {
    background-color: rgba(38, 38, 38, 1);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}
.form-box {
    background-color: black;
    padding: 40px;
    border-radius: 8px; /* Slightly rounded corners */
    color: white;
    width: 400px; /* Increased width */
    text-align: left; /* Aligns text to the left */
    position: relative; /* Positioning context for centering the button */
}
.form-box label {
    display: block;
    margin-bottom: 5px;
}
.form-box input {
    display: block;
    width: calc(100% - 20px); /* Bigger width */
    padding: 10px;
    margin-bottom: 30px; /* Increased margin to create space between fields and button */
    border: none;
    border-radius: 5px;
}
.form-box button {
    background-color: white;
    color: black;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 8px; /* Slightly rounded edges */
    font-size: 16px;
    position: sticky; /* Absolute positioning */
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    bottom: 40px; /* Increased distance from the phone number field */
}
footer{
            background-color: rgba(38, 38, 38, 1);
            color: white;
            text-align: center;
            padding: 20px;
        }
footer img {
            display: block;
            margin: 20px auto;
            width: 50px;
        }
/* General message styles */
.messages {
    margin-bottom: 15px;
}

/* Styling for error messages */
.error {
    color: #D8000C;
    background-color: #FFBABA;
    padding: 10px;
    border: 1px solid #D8000C;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Styling for other message types (optional) */
.success {
    color: #4F8A10;
    background-color: #DFF2BF;
    padding: 10px;
    border: 1px solid #4F8A10;
    border-radius: 5px;
    margin-bottom: 10px;
}

.info {
    color: #00529B;
    background-color: #BDE5F8;
    padding: 10px;
    border: 1px solid #00529B;
    border-radius: 5px;
    margin-bottom: 10px;
}


