{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static '/css/userDashboard.css' %}" type="text/css">
    <title>GoCash | User Dashboard</title>
</head>
<body>
    <header>
        <h1>GoCash | Welcome {{ user.username }} !</h1> <!-- Display the user's name -->
        <nav>
            <a href="/wallets">Wallet</a>
            <a href="/transactions">Transfers</a>
            <a href="">Payment</a>
            <a href="">Subscription Plan</a>
            <a href="">Green User</a>
            <a href="">Support</a>
            <a href="/">Log out</a> <!-- Add a logout option -->
        </nav>
    </header>

    <div class="container">
        <div class="user-info">
            <h2>User Information</h2>
            <p><strong>Phone No:</strong> {{ user.phone_number }}</p>
            <p><strong>Subscription Plan:</strong> {{ user.subscription_plan }}</p> <!-- Display wallet balance -->
            <p><strong>Balance:</strong> {{ balance }}</p>
        </div>

        <div class="button-container">
                {% if wallet %}
                    <a href="/wallets" class="button">Charge Wallet</a>
                {% else %}
                    <a href="/wallets" class="button">Create Wallet</a>
                {% endif %}
                <a href="/transactions/send_money" class="button">Send Money  </a>
                <a href="/transactions" class="button">Transfers</a>
        </div>
    </div>

    <footer>
        <p>Designed by Mohamed Fawzy</p>
        <p>GoCash Application eT3 - Project</p>
        <img src="{% static 'images/images.jpeg' %}" alt="eT3 Logo">
    </footer>
</body>
</html>
