/* transaction.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

header {
    background-color: rgba(38, 38, 38, 1);
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
}

.home-container {
    padding-left: 30px;
    padding-top: 20px;
    position: left;
    top: 20px;
    left: 20px;
    flex-direction: column;
    align-items: center;
}

.home-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: rgba(38, 38, 38, 1);
    color: #fff;
    border-radius: 50%;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.2;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.home-button:hover {
    background-color: #555;
    transform: scale(1.1);
}

.home-icon {
    width: 50%;
    height: 50%;
    object-fit: cover;
}

.home-container p {
    padding-left: 5px;
    margin-top: 10px;
    font-size: 14px;
    color: #000;
}

footer {
    background-color: rgba(38, 38, 38, 1);
    color: white;
    text-align: center;
    padding: 20px;
}

footer img {
    display: block;
    margin: 20px auto;
    width: 50px;
}

.form-container {
    width: 400px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

.form-container button {
    background-color: rgba(38, 38, 38, 1);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, transform 0.3s;
}

.form-container button:hover {
    background-color: rgba(255, 255, 255, 1);
    color: rgba(38, 38, 38, 1);
    transform: scale(1.05);
}

.dropdown-container {
    padding-top: 10px;
    margin-bottom: 20px;
}

select {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    margin-bottom: 20px;
    appearance: none;
    background: url('images/dropdown-icon.png') no-repeat right 10px center;
    background-size: 15px;
    cursor: pointer;
}

select option {
    font-size: 16px;
    padding: 10px;
    background-color: #fff;
}

/* Message Styles */
.message {
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.success {
    background-color: #d4edda;
    color: #155724;
}

.error {
    background-color: #f8d7da;
    color: #721c24;
}
